<!DOCTYPE html>
<html lang="">
<head>
<html>
<a href="index.html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
<div class="content-card >
<img>
<div class="content-text" >
</body>
<style> .content-card{width: 300px;
    align-content: left;
    grow 10% on mouse over;}
    transformation: 1s grow and shrink;
 normal: box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    hover: box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);

    </html>

